<template>
  <v-row>
    <v-col class="cafe_component">
      <h1 class="py-4"> Lists of Cafe </h1>

      <v-row class="cafe_list mx-2">
        <v-col v-for="cafe in cafes" :key="cafe.id" md="4" xl="4">
          <v-card class="cafe_card">
            <v-img
              height="250"
              :src="cafe.img"
            ></v-img>
            <v-card-title>
              <router-link to="/cafe/view">{{ cafe.name }}</router-link>
            </v-card-title>
            <v-card-text>
              <p>{{ cafe.description }}</p>
              <b>Rating: {{ cafe.rating }} of 5</b>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'Cafe',
  data: () => ({
    cafes: [
      {
        id: 0,
        name: 'K-FOOD',
        description: 'Here we can cook nice korean food',
        img: 'https://images.unsplash.com/photo-1583224964978-2257b960c3d3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8a29yZWFuJTIwZm9vZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60',
        tags: ['asian'],
        rating: 4.9
      },
      {
        id: 1,
        name: 'Chinese Food',
        description: 'Chinese noodle for everyone',
        img: 'https://images.unsplash.com/photo-1563245372-f21724e3856d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y2hpbmVzZSUyMGZvb2R8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60',
        tags: ['chinese'],
        rating: 4
      },
      {
        id: 2,
        name: 'Indian Food',
        description: 'Indian vegetiran foods ',
        img: 'https://images.unsplash.com/photo-1565557623262-b51c2513a641?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8aW5kaWFuJTIwZm9vZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60',
        tags: ['indian'],
        rating: 3.9
      },
      {
        id: 3,
        name: 'Italian Food',
        description: 'All Italian food here',
        img: 'https://images.unsplash.com/photo-1498579150354-977475b7ea0b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aXRhbGlhbiUyMGZvb2R8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60',
        tags: ['italian'],
        rating: 4.2
      },
      {
        id: 4,
        name: 'McDonalds',
        description: 'A quick ready meal for you when you’re hungry',
        img: 'https://images.unsplash.com/photo-1619881589316-56c7f9e6b587?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bWNkb25hbGRzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60',
        tags: ['fastfood'],
        rating: 5
      },
      {
        id: 5,
        name: 'Sea Food',
        description: 'Healthy food from Sea food',
        img: 'https://images.unsplash.com/photo-1448043552756-e747b7a2b2b8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8c2VhZm9vZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60',
        tags: ['ocean'],
        rating: 4.5
      }

    ]
  })
}
</script>
