<template>
  <div>
    <v-row>
      <v-col>
        <v-breadcrumbs  :items="breadcrumbs_items"></v-breadcrumbs>
      </v-col>
    </v-row>
    <v-row>
      <v-col md="5">
        <v-card>
          <v-img
            height="350"
            src="https://images.unsplash.com/photo-1569718212165-3a8278d5f624?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cmFtZW58ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
            class="d-flex align-end"
          >
            <v-card-title>
              <h2 class="text-h2 white--text"> K-FOOD </h2>
            </v-card-title>
          </v-img>
        </v-card>
      </v-col>
      <v-col md="7">
        <v-card class="h-100">
          <v-card-text>
            <h4 class="text-h5 mb-4"> Come to here if you wanna to taste cool ramen 🍜 </h4>
            <v-divider></v-divider>
            <p class="mt-4 text-body-1 mr-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam, asperiores corporis dignissimos, ducimus ea nesciunt numquam officiis quae reiciendis temporibus tenetur, totam? Beatae debitis ea fugiat id, ratione rem voluptates. Cupiditate distinctio dolor dolores eligendi eveniet, fuga maiores molestias nesciunt pariatur, rem totam ullam?</p>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row class="cafe_menu">
      <v-col md="6">
        <v-card>
          <v-img
            height="450"
            src="https://images.unsplash.com/photo-1557872943-16a5ac26437e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8cmFtZW58ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
            class="flex align-end"
          >
            <v-card-title>
              <h2 class="text-h2 white--text"> MENU </h2>
            </v-card-title>
          </v-img>
        </v-card>
      </v-col>
      <v-col md="6">
        <v-card>
          <v-card-text>
            <v-list-item-group>
              <v-list-item v-for="item in menu_items" :key="item.id">
                <v-list-item-avatar>
                  <v-img :src="item.img"></v-img>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title class="subtitle-1">{{item.title}}</v-list-item-title>
                  <v-list-item-subtitle>{{item.price}} $</v-list-item-subtitle>
                </v-list-item-content>
                <v-list-item-action>
                  <v-btn icon>
                    <v-icon color="grey lighten-1">mdi-plus</v-icon>
                  </v-btn>
                </v-list-item-action>
              </v-list-item>
            </v-list-item-group>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <CafeComment></CafeComment>
  </div>
</template>

<script>
import CafeComment from '@/components/CafeComment'
export default {
  name: 'CafeView',
  components: {
    CafeComment
  },
  data: () => ({
    breadcrumbs_items: [
      {
        text: 'Home',
        disabled: false,
        href: '/'
      },
      {
        text: 'K-FOOD',
        disabled: true,
        href: '/cafe/view'
      }
    ],
    menu_items: [
      {
        id: 0,
        title: 'Sapporo Miso Ramen',
        img: 'https://cdn.shopify.com/s/files/1/1363/6753/files/Untitled_design_-_2021-06-03T092544.573.jpg?v=1622701554',
        price: 27.89
      },
      {
        id: 1,
        title: 'Tokyo-style Ramen',
        img: 'https://cdn.shopify.com/s/files/1/1363/6753/files/Untitled_design_-_2021-06-03T093041.541.jpg?v=1622701855',
        price: 34.10
      },
      {
        id: 2,
        title: 'Wakayama Ramen ',
        img: 'https://cdn.shopify.com/s/files/1/1363/6753/files/Untitled_design_-_2021-06-03T093323.617.jpg?v=1622702013',
        price: 21.99
      },
      {
        id: 3,
        title: ' Hakodate Rame ',
        img: 'https://cdn.shopify.com/s/files/1/1363/6753/files/Untitled_design_-_2021-06-03T092729.536.jpg?v=1622701673',
        price: 43.05
      },
      {
        id: 4,
        title: 'Okinawa Soba ',
        img: 'https://cdn.shopify.com/s/files/1/1363/6753/files/Untitled_design_-_2021-06-03T092924.534.jpg?v=1622701777',
        price: 32.37
      }
    ]
  })
}
</script>

<style type="text/css">
.h-100 {
  height: 100%;
}
</style>
