<template>
  <div>
    <v-footer color="#42A5F5">
      <v-col class="font-weight-bold text-center white--text">
        All rights reserved.
      </v-col>
    </v-footer>
  </div>
</template>

<script>
export default {

}
</script>
