<template>
  <div>
    <v-app-bar
      color=#42A5F5
      app>
      <v-col class="font-weight-bold white--text d-flex">
        <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
        <v-app-bar-title class="d-flex align-center"> iFood </v-app-bar-title>
      </v-col>
    </v-app-bar>
    <v-navigation-drawer color="#42A5F5" v-model="drawer" absolute left temporary>
      <v-list nav dense>
        <v-list-item-group  v-model="group" active-class="text--acent-4">
          <v-list-item>
            <v-list-item-title>
              <router-link class="text-decoration-none" to="/">Lists of Cafes</router-link></v-list-item-title>
          </v-list-item>
          <v-list-item :to="{name: 'About'}">
            <v-list-item-title>About</v-list-item-title>
          </v-list-item>
          <v-list-item :to="{name: 'Contact'}">
            <v-list-item-title>Contact</v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
export default {
  name: 'Header',
  data: () => ({
    drawer: false,
    group: null
  })
}
</script>

<style>

</style>
