<template>
  <v-app>
    <Header></Header>
    <v-main>
      <v-container>
        <div class="d-flex justify-center">
          Centered Element
        </div>
        <router-view class="view"></router-view>
      </v-container>
    </v-main>
    <Footer></Footer>
  </v-app>
</template>

<script>
import Footer from '@/components/Footer'
import Header from '@/components/Header'

export default {
  name: 'App',

  components: {
    Header,
    Footer
  },

  data: () => ({
    //
  })
}
</script>
